<div class="form-wrapper text-center">
  <h1>Sign in to your account</h1>
  <!--<form role="form" class="login-form" #f="ngForm">
    <div class="form-group group">
      <label class="sr-only" for="form-username">Username</label>
      <input name="username" #username placeholder="Username" class="form-control" [(ngModel)]="user.username" id="username" type="text">      
    </div>
    <div class="form-group group">
      <label class="sr-only" for="form-password">Password</label>
      <input name="password" #password placeholder="Password" class="form-control" [(ngModel)]="user.password" id="password" type="password">
    </div>
    <div *ngIf="!correct">
      <span class="errorMsg">Username/Password Incorrect</span>
    </div>
    <button type="button" (click)="login(f)" class="btn btn-block primary-button login-btn">Sign In</button>
  </form>-->
  <div class="form-group">
    <a class="link">Need Help?</a>
  </div>
  <div class="register">
    <span>Not a Registered User? <a [routerLink]="['/register']" class="link">Lets Get Started</a></span>
  </div>
</div>