<header>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Credit Tracker</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <span class="username">Welcome! {{username}}</span>
          </li>
          <li>
            <a class="logout" (click)="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
<section class="controlPanelWrapper container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 side-nav pad0" role="navigation">
      <ul>
        <li routerLinkActive="active"><a [routerLink]="['view-profile']" class="sidelinks">View Profile</a></li>
        <li routerLinkActive="active"><a [routerLink]="['update-profile']" class="sidelinks">Update Profile</a></li>
        <li routerLinkActive="active"><a [routerLink]="['search-profile']" class="sidelinks">View All Profile</a></li>
      </ul>
    </div>
    <div class="col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10 main">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>