<section class="controlPanelWrapper container-fluid full-height-wrapper">
    <div class="row full-height-wrapper">
      <div class="col-sm-3 col-md-2 side-nav bg-inverse pad0" role="navigation">
        <ul class="navbar ">
          <li routerLinkActive="active"><a [routerLink]="['view-profile']" class="sidelinks">View Profile</a></li>
          <li routerLinkActive="active"><a [routerLink]="['update-profile']" class="sidelinks">Update Profile</a></li>
          <li routerLinkActive="active"><a [routerLink]="['search-profile']" class="sidelinks">View All Profile</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-md-10 main pad0">
        <router-outlet></router-outlet>
      </div>
    </div>
</section>