html,body{
    height: 100%;width: 100%;
}
@font-face {font-family: 'Roboto-Regular';src: url(./includes/fonts/Roboto-Regular.ttf);}
@font-face {font-family: 'Roboto-Bold';src: url(./includes/fonts/Roboto-Bold.ttf);}
@font-face {font-family: 'Roboto-Italic';src: url(./includes/fonts/Roboto-Italic.ttf);}
body{
    font-family: 'Roboto-Regular','sans-serif';   
    padding-top: 56px;
}
/* common elements*/
.pad0{
    padding: 0 !important;
}
.full-height-wrapper{
    /*height: 100%;*/
    position: relative;
}
/* header */
.navbar-toggler{
    border-color: transparent !important;
    margin-top: 5px;
    cursor: pointer;
}
.navbar-toggler:focus{
    outline: 0;
}
.logout:hover{
    background: #ff3366;
}

/* login page */
.loginWrapper{
     background: url(./includes/images/background.jpg);
}
.loginWrapper .centering-block{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
}
.loginWrapper .form-wrapper{
    padding: 25px;
    background: #444;
    text-align: left;
}
.loginWrapper .form-box{
    float: none;
    margin: auto;
}
.loginWrapper .form-group {
    margin-bottom: 15px;
    position: relative;
}
.loginWrapper .form-group .fa{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 20px;
    color: #888;
}
.loginWrapper input[type="text"],.loginWrapper  input[type="password"],.login-btn{
    height: 50px;
    margin: 0;
    padding: 0 20px; 
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.loginWrapper input[type="text"],.loginWrapper input[type="password"]{
    background: #fff;
    color: #888;
    border: 3px solid #fff;
}
.loginWrapper input[type="text"]:focus, .loginWrapper input[type="password"]:focus{
    border: 0;
    color: #888;
}
.loginWrapper .login-btn{
    background: #ff3366;
    border: 0;
    color: #fff;
    cursor: pointer;
}
.loginWrapper .login-btn:hover,.loginWrapper .login-btn:focus{
    opacity: 0.8;
    box-shadow: none;
}

/* control panel */
.controlPanelWrapper ul{
    padding: 0;
    margin-bottom: 0;
}
.controlPanelWrapper ul li{
    padding: 15px;
    cursor: pointer;
}
.controlPanelWrapper ul li.active, .controlPanelWrapper ul li:hover,.controlPanelWrapper ul li:hover a,.controlPanelWrapper ul li.active a{
    background: #030303;
    color: #fff;
}
.controlPanelWrapper ul li a{
    color: #9d9d9d;
    text-decoration: none;
    display: block;
}
 /*update profile*/
 .update-profile{
     padding: 15px;
 }
 .update-profile ul{
     border: 0;
 }
 tab .pane{
     border: 1px solid #d9d9d9;
 }
