html,body{
    height: 100%;width: 100%;
}
@font-face {font-family: 'Roboto-Regular';src: url(./includes/fonts/Roboto-Regular.ttf);}
@font-face {font-family: 'Roboto-Bold';src: url(./includes/fonts/Roboto-Bold.ttf);}
@font-face {font-family: 'Roboto-Italic';src: url(./includes/fonts/Roboto-Italic.ttf);}
body{
    font-family: 'Roboto-Regular','sans-serif';   
    padding-top: 56px;
}
/* common elements*/
.pad0{
    padding: 0 !important;
}
.full-height-wrapper{
    /*height: 100%;*/
    position: relative;
}
/*header common properties*/
.navbar-toggler{
    border-color: transparent !important;
    margin-top: 5px;
    cursor: pointer;
}
.navbar-toggler:focus{
    outline: 0;
}
.navbar-inverse .navbar-nav .nav-link{
    color: #9d9d9d;
}
/* update profile css for tabs */
.update-profile ul{
    border: 0;
}
.update-profile ul.nav-tabs li{
    padding: 15px;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
}
.update-profile ul.nav-tabs li.active, .update-profile ul.nav-tabs li:hover,.update-profile ul.nav-tabs li:hover a,.update-profile ul.nav-tabs li.active a{
    background: #030303;
    color: #fff;
}
.update-profile ul.nav-tabs li a{
    color: #686868;
    text-decoration: none;
    display: block;
}
tab .pane{
    border: 1px solid #d9d9d9;
}