<section class="container update-profile">
  <h2 class="text-center padT30">Update Profile</h2>
  <div class="tab-wrapper">
    <cms-tabs>
      <cms-tab title="Quality of Deliverables"><cms-quality-of-deliverables></cms-quality-of-deliverables></cms-tab>
      <cms-tab title="Self Development"><cms-self-development></cms-self-development></cms-tab>
      <cms-tab title="Organisational Development"><cms-org-dev></cms-org-dev></cms-tab>
      <cms-tab title="People Management"><cms-people-management></cms-people-management></cms-tab>
    </cms-tabs>
  </div>
</section>