<section class="container update-profile">
  <h2 class="text-center padT30">Update Profile</h2>
  <div class="tab-wrapper">
    <cms-tabs>
      <cms-tab title="Quality of Deliverables"><cms-quality-of-deliverables></cms-quality-of-deliverables></cms-tab>
      <cms-tab title="Self Development"><cms-trainings-attended></cms-trainings-attended></cms-tab>
      <cms-tab title="Organisational Development"><cms-trainings-taken></cms-trainings-taken></cms-tab>
      <cms-tab title="People Management"><cms-awards></cms-awards></cms-tab>
    </cms-tabs>
  </div>
</section>