<div class="content-wrapper">
	<div class="tab-container">
		<div class="row">
			<div class="col-xs-4 col-lg-5">
				<div class="form-group">
					<label>Coding</label>
					<span class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="Quality code, Abides to coding principles, Ownership of the code"></span>
					<textarea class="form-control" rows="2" cols="10"></textarea>
				</div>
			</div>
			<div class="col-xs-4 col-lg-5">
				<div class="form-group">
					<label>Design</label>
					<span class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="Abides to Design principles, Adhering to design guidelines and best practices"></span>	
					<textarea class="form-control" rows="2" cols="10"></textarea>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-lg-5">
				<div class="form-group">
					<label>Successful Delivery</label>
					<span class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="Timelines of deliverables, Proactive reporting including escalation of issues/risks"></span>					
					<textarea class="form-control" rows="2" cols="10"></textarea>
				</div>
			</div>
			<div class="col-xs-4 col-lg-5">
				<div class="form-group">
					<label>Quality Process Compliance</label>
					<span class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="Process documentation, Support SEPG to define standards"></span>					
					<textarea class="form-control" rows="2" cols="10"></textarea>
			</div>
			</div>
		</div>
		<div class="row btn-container">
			<div class="col-sm-12">
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>