<div class="container-fluid main-height">
	<div class="row">
		<div class="login-wrap col-xs-6 col-md-6 col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading text-center">SIGN IN</div>
				<form id="loginform" method="get">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-offset-3 col-xs-6">
								<div class="form-group">
									<label for="username">User Name</label>
									<input class="padding10 borderRad10" type="text" name="username" id="name" autocomplete="off" placeholder="User Name">

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-offset-3 col-xs-6">
								<div class="form-group">
									<label>Password</label>
									<input class="padding10 borderRad10" type="password" name="password" id="password" autocomplete="off" placeholder="Password">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-offset-3 col-xs-6">
								<div class="form-group">
									<button class="submitbtn">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<button (click)="clickMe()">Click</button>
<p><strong>{{msg}}</strong></p>

 
  <h1>Angular Router</h1>
  <nav>
    <a routerLink="/check.component" routerLinkActive="active">check</a>
    <a routerLink="/test.component" routerLinkActive="active">Test</a>
  </nav>
  <router-outlet></router-outlet>
