<div class="content-wrapper">
	<div class="tab-container">
		<div class="row">
			<div class="col-xs-4 col-lg-5">
				<div class="form-group">
					<label>Expertise building</label>
					<span class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="Participate in learning & development initiatives to groom people within the organization, Contribute to Technical & Practice related initiatives, Domain expertise and certification"></span>
					<textarea class="form-control" rows="2" cols="10"></textarea>
				</div>
			</div>
			<div class="col-xs-4 col-lg-5">
				<div class="form-group">
					<label>Organization Building</label>
					<span class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="Interviews , Referrals, Recruitment drives, Campus program"></span>
					<textarea class="form-control" rows="2" cols="10"></textarea>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-lg-5">
				<div class="form-group">
					<label>Sales and Marketing</label>
					<span class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="Participation in Pre Sales activities and Business Expansion, Participation in Marketing initiatives , Instances of Brand Building initiatives. "></span>
					<textarea class="form-control" rows="2" cols="10"></textarea>
				</div>
			</div>
			<div class="col-xs-4 col-lg-5">
				<div class="form-group">
					<label>Internal Initiatives</label>
					<span class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="Instances of participation in internal initiatives/programs like TEA, Cultural & Fun Clubs, CSR Related initiatives"></span>
					<textarea class="form-control" rows="2" cols="10"></textarea>
			</div>
			</div>
		</div>
		<div class="row btn-container">
			<div class="col-sm-12">
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>