<div class="content-wrapper">
	<div class="tab-container">
		<div class="row">
			<div class="col-xs-4 col-lg-4">
				<div class="form-group">
					<label>Expertise building</label>
					<textarea class="form-control" rows="5" cols="10"></textarea>
				</div>
			</div>
			<div class="col-xs-4 col-lg-4">
				<div class="form-group">
					<label>Organization Building</label>
					<textarea class="form-control" rows="5" cols="10"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-lg-4">
				<div class="form-group">
					<label>Sales and Marketing</label>
					<textarea class="form-control" rows="5" cols="10"></textarea>
				</div>
			</div>
			<div class="col-xs-4 col-lg-4">
				<div class="form-group">
					<label>Internal Initiatives</label>
					<textarea class="form-control" rows="5" cols="10"></textarea>
			</div>
		</div>
		<div class="row btn-container">
			<div class="col-lg-12 col-sm-12">
				<textarea class="form-control" rows="5" cols="10"></textarea>
			</div>
		</div>
	</div>
</div>